@import "../../styles/mixin";

// DiceStyles Styles
.root {
  width: 120px;
  @include app-window;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .dice {
    width: 80px;
    height: 80px;
    margin: 10px 0;
    background-image: url("/assets/diceSheet.png");

    &.disabled {
      background-position-x: left;
      background-position-y: bottom;
      opacity: 0.2;
    }

    &.one {
      background-position-x: left;
      background-position-y: bottom;
    }

    &.two {
      background-position-x: left;
      background-position-y: center;
    }

    &.three {
      background-position-x: left;
      background-position-y: top;
    }

    &.four {
      background-position-x: right;
      background-position-y: bottom;
    }

    &.five {
      background-position-x: right;
      background-position-y: center;
    }

    &.six {
      background-position-x: right;
      background-position-y: top;
    }
  }

  &.rolling {
    .dice {
      filter: blur(10px);
      animation: rotation 0.3s infinite linear;
    }
  }
}

@keyframes rotation {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(359deg);
  }
}
