@mixin app-border {
  border: 1px solid #303030;
}

@mixin app-window {
  border-radius: 10px;
  background-color: #303030;
  box-shadow: inset 0 0 6px #191818;
  height: 370px;
  margin: 10px 5px;
}
