@import "../../styles/mixin";
// PlayerInputStyles Styles
.root {
  @include app-border;
  display: flex;
  flex-grow: 1;
  justify-content: center;
  align-items: center;

  .form {
    min-width: 150px;
    max-width: 300px;

    .formControl {
      margin: 20px;
      width: 100%;
    }
  }
}
