// PlayerNameStyles Styles

.root {
  font-family: "NameFont", Arial, serif;
  text-align: center;
  padding: 10px;
  font-size: 26px;
  min-height: 57px;

  &.primary {
    color: #fe8423;
  }

  &.secondary {
    color: #c5f616;
  }
}
