@import "../../styles/mixin";
// HeaderStyles Styles
.root {
  @include app-border;
  display: flex;
  height: 175px;
  justify-content: center;
  border: 1px solid #303030;

  img {
    object-fit: scale-down;
    margin: 20px;
  }
}
