@import "../../styles/mixin";
// Footer Styles
.root {
  @include app-border;
  display: flex;
  height: 80px;
  justify-content: center;
  align-items: center;
  color: #999999;

  span {
    padding: 10px;
  }

  a,
  a:visited,
  a:hover {
    color: #999999;
  }
}
