// AppStyles Styles
.root {
  display: flex;
  justify-content: center;
  .container {
    margin: 20px;
    background-color: #494949;
    width: 100%;
    max-width: 1300px;
    min-width: 900px;
  }
}
