// PlayerInputStyles Styles
.root {
  display: flex;
  flex-grow: 1;
  border: 1px solid #303030;
  justify-content: center;
  align-items: center;

  .messageContainer {
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .message {
      font-size: 30px;
      text-align: center;
    }
  }

  .form {
    min-width: 150px;
    max-width: 300px;

    .formControl {
      margin: 20px;
      width: 100%;
    }
  }
}
