@import "../../styles/mixin";

// HealthBar Styles
.root {
  width: 40px;
  @include app-window;
  display: flex;
  flex-direction: column;
  align-items: center;

  &.primary {
    color: #fe8423;

    .bar {
      background-color: #fe8423;
    }
  }

  &.secondary {
    color: #c5f616;

    .bar {
      background-color: #c5f616;
    }
  }

  .last {
    height: 30px;
    padding: 6px 0;
  }

  .score {
    height: 30px;
    padding: 6px 0;
  }

  .barContainer {
    flex-grow: 1;
    background-color: #232323;
    width: 20px;
    display: flex;
    flex-direction: column-reverse;

    .bar {
      width: 20px;
      height: 80%;
    }
  }
}
